PORT=3000
DATABASE_URL=postgresql://postgres:password@localhost:5432/chatbot_db
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
WA_PHONE_NUMBER_ID=tu_numero_id
WA_ACCESS_TOKEN=tu_token_de_acceso
VERIFY_TOKEN=tu_token_de_verificacion_webhook
FRONTEND_URL=http://localhost:3001
APP_SECRET=tu_app_secret_de_meta

